<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Trackgenix - Manage your hours and teams with ease</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<link rel="stylesheet" type="text/css" href="../css/header.css">
		<link rel="stylesheet" type="text/css" href="../css/sidebar.css">
		<link rel="stylesheet" type="text/css" href="../css/landing.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css">
		<link rel="stylesheet" type="text/css" href="../css/typography.css">
	</head>
	<body>
		<header class="header">
			<img class="logo" src="../assets/icons/trackgenix-logo.png" alt="Logo" />
			<h1 class="header-typo">Trackgenix SA</h1>
			<img class="sidebar-icon" src="../assets/icons/sidebar-icon.png" alt="Sidebar menu icon" />
		</header>
		<div class="aside-main-footer-container">
			<aside>
				<div class="sidebar sidebar-typo">
					<span>Menu</span>
					<ul>
						<li class="sidebar-link"><a href="./index.html">Home</a></li>
						<li class="sidebar-link"><a href="./sign-up.html">Sign Up</a></li>
						<li class="sidebar-link"><a href="./login.html">LogIn</a></li>
						<li>Contact us</li>
					</ul>
					<address>
						<div class="flex-container">
							<img src="../assets/icons/contact-mail.png" alt="Contact Mail" />
							<a href="mailto:contact@trackgenix.com">contact@trackgenix.com</a>
						</div>
						<div class="flex-container">
							<img src="../assets/icons/contact-phone.png" alt="Contact Phone" />
							<a href="tel:+(000)0000000">(000) 000-0000</a>
						</div>
						<div class="flex-container">
							<img src="../assets/icons/contact-location.png" alt="Contact Location" />
							<div>
								<p>1234 Somewhere Road #8254</p>
								<p>Nashville, TN</p>
								<p>00000-0000</p>
							</div>
						</div>
					</address>
				</div>
			</aside>
			<div class="main-footer-container">
				<main>
					<section class="intro-section">
						<div>
							<h2 class="header-typo">Manage your hours and teams with ease</h2>
							<p class="paragraph-typo">Use Trackgenix to track time, make decisions and upgrade your productivity</p>
							<p class="intro-paragraph">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare lorem augue, id aliquam dolor
								accumsan vitae. Nullam cursus aliquam dolor ac hendrerit. Etiam tempus libero id consequat egestas.
								Aliquam feugiat massa ex, a commodo dolor eleifend id. Maecenas euismod urna sagittis est elementum,
								nec condimentum mi auctor.
							</p>
							<a class="button button-typo" href="#">Learn more</a>
						</div>
						<figure>
							<img src="../assets/images/ricardo-main-pm.png" alt="Dashboard example" />
							<figcaption>Project Manager Dashboard</figcaption>
						</figure>
					</section>
					<span class="section-line"></span>
					<section>
						<div>
							<h2 class="section-typo">Functionalities</h2>
						</div>
						<div class="functionalities-section">
							<section>
								<h3 class="title-typo">Time Tracking</h3>
								<figure>
									<img src="../assets/icons/time-tracking.png" alt="Time Tracking icon" />
								</figure>
								<p class="paragraph-typo">
									Donec mi nisi, pretium vel tincidunt vel, egestas nec augue. Praesent et ultrices mauris. Aenean
									aliquam, sem et auctor euismod.
								</p>
							</section>
							<section>
								<h3 class="title-typo">Reports</h3>
								<figure>
									<img src="../assets/icons/reports.png" alt="Reports icon" />
								</figure>
								<p class="paragraph-typo">
									Phasellus bibendum at nisi a varius. Donec vel mauris vel ligula fermentum elementum vitae vitae ante.
									Donec purus orci, malesuada sit amet dapibus non, sodales placerat erat.
								</p>
							</section>
							<section>
								<h3 class="title-typo">Multiple roles</h3>
								<figure>
									<img src="../assets/icons/multiple-roles.png" alt="Multiple roles icon" />
								</figure>
								<p class="paragraph-typo">
									Vestibulum augue sem, aliquet at mollis quis, dignissim non velit. Nullam vitae sollicitudin nisl.
								</p>
							</section>
							<section>
								<h3 class="title-typo">Resource management</h3>
								<figure>
									<img src="../assets/icons/resource-management.png" alt="Resource management icon" />
								</figure>
								<p class="paragraph-typo">
									Donec ac mi tempor, gravida velit vitae, dignissim purus. Praesent pharetra lectus consequat, faucibus
									nibh ullamcorper, dignissim nunc.
								</p>
							</section>
						</div>
					</section>
					<span class="section-line"></span>
					<section>
						<div class="long-title">
							<h2 class="section-typo">Why does this mean an improvement in your work</h2>
						</div>
						<div class="reasons-section">
							<article>
								<img src="../assets/images/representative-image.png" alt="Representative image" />
								<h3 class="title-typo">Productivity booster</h3>
								<p class="paragraph-typo">
									Cras blandit vehicula eros, id dapibus lacus tristique ac. Nam dapibus purus semper, tincidunt massa
									sit
									amet, euismod metus. Nunc metus dui, tincidunt eget massa nec, dapibus pellentesque tortor.
								</p>
								<a class="button button-typo" href="#">More</a>
							</article>
							<article>
								<img src="../assets/images/representative-image.png" alt="Representative image" />
								<h3 class="title-typo">Work traceability</h3>
								<p class="paragraph-typo">
									Duis quis ipsum enim. Quisque iaculis risus turpis, quis ornare lorem fringilla at. Vestibulum iaculis
									arcu et tortor tristique sollicitudin.
								</p>
								<a class="button button-typo" href="#">More</a>
							</article>
							<article>
								<img src="../assets/images/representative-image.png" alt="Representative image" />
								<h3 class="title-typo">Leadership and team management</h3>
								<p class="paragraph-typo">
									Duis non turpis consequat, laoreet libero a, pulvinar mauris. In hac habitasse platea dictumst.
								</p>
								<a class="button button-typo" href="#">More</a>
							</article>
							<article>
								<img src="../assets/images/representative-image.png" alt="Representative image" />
								<h3 class="title-typo">Decision making</h3>
								<p class="paragraph-typo">
									Aliquam convallis elit in pharetra luctus. Aenean ultrices est eu justo gravida, nec pretium arcu
									facilisis.
								</p>
								<p class="paragraph-typo">
									Integer ipsum libero, finibus eget nisi non, volutpat aliquet leo. Nulla rhoncus nisl id sem accumsan,
									cursus blandit tellus sollicitudin.
								</p>
								<a class="button button-typo" href="#">More</a>
							</article>
						</div>
					</section>
					<span class="section-line"></span>
					<section class="form-section form-typo">
						<h2 class="section-typo">Get in touch with us</h2>
						<form>
							<div>
								<label for="name">Full Name</label>
								<input id="name" name="full-name" type="text" placeholder="John Smith" required>
							</div>
							<div>
								<label for="email">Email Address</label>
								<input id="email" name="email" type="email" placeholder="johnsmith@mail.com" required>
							</div>
							<div>
								<label for="area">Choose a department:</label>
								<select id="area" name="area">
									<option value="default">-Area-</option>
									<option value="human-resources">Human Resources</option>
									<option value="systems">Systems</option>
									<option value="commercialization">Commercialization</option>
								</select>
							</div>
							<fieldset>
								<legend>Priority</legend>
								<div class="radio-buttons">
									<div>
										<input id="low" name="priority" type="radio" checked>
										<label for="low">Low</label>
									</div>
									<div>
										<input id="medium" name="priority" type="radio">
										<label for="medium">Medium</label>
									</div>
									<div>
										<input id="high" name="priority" type="radio">
										<label for="high">High</label>
									</div>
								</div>
							</fieldset>
							<div class="textarea">
								<label for="inquiry">Ask about our system</label>
								<textarea id="inquiry" name="inquiry" placeholder="Enter your message" required></textarea>
							</div>
							<div class="checkboxes">
								<div class="div-checkbox">
									<input id="captcha" name="captcha" type="checkbox">
									<label for="captcha">I am not a robot</label>
								</div>
								<div class="div-checkbox">
									<input id="copy" name="copy" type="checkbox">
									<label for="copy">Send me a copy</label>
								</div>
							</div>
							<div class="buttons">
								<button class="button-typo" type="submit">Submit</button>
								<button class="button-typo" type="reset">Reset</button>
							</div>
						</form>
					</section>
					<span class="section-line"></span>
					<section class="story-section">
						<div>
							<h2 class="section-typo">Our story</h2>
						</div>
						<p class="paragraph-typo">
							Donec eu diam convallis, condimentum enim non, dictum magna. Integer quis orci ullamcorper, mattis lacus
							sed, porttitor velit. Vivamus enim ipsum, faucibus a mi vel, condimentum lacinia libero. Phasellus
							dignissim dui id lacinia posuere. Donec eleifend vehicula elit et finibus. Phasellus ultrices finibus
							eros. Nullam pretium quamcursus vestibulum efficitur. Cras quis volutpat neque. Maecenas non faucibus
							metus. Donec in est et nibh tempus pellentesque. Fusce in ante congue, tincidunt mauris ut, commodo
							magna. Aenean id arcu ac metus malesuada hendrerit quis ultrices diam. Pellentesque rhoncus porta
							interdum. Morbi lectus dui, porta et tortor ac, pharetra auctor elit.
						</p>
						<p class="paragraph-typo">
							Maecenas ac bibendum lacus. Nunc scelerisque ante vitae ante pulvinar vulputate. Cras id posuere dolor.
							Praesent id sollicitudin tortor. Nullam ac tristique elit. Proin imperdiet ultricies nunc, nec consequat
							nisi aliquam ut. Praesent at est nisl. Ut nec metus sed dolor cursus imperdiet eget non erat. Donec vel
							maximus tortor. Donec gravida sollicitudin metus, ut porttitor nisl scelerisque nec. Aenean eu consequat
							felis.
						</p>
					</section>
					<span class="section-line"></span>
					<section class="links-section paragraph-typo" aria-label="Links section">
						<div>
							<p>Products</p>
							<ol>
								<li><a href="#">Functionalities</a></li>
								<li><a href="#">Downloads</a></li>
								<li><a href="#">Integrations</a></li>
								<li><a href="#">Extras</a></li>
							</ol>
						</div>
						<div>
							<p>Company</p>
							<ol>
								<li><a href="#">About us</a></li>
								<li><a href="#">Clients</a></li>
								<li><a href="#">Resources</a></li>
								<li><a href="#">Blog</a></li>
							</ol>
						</div>
						<div>
							<p>Support</p>
							<ol>
								<li><a href="#">Help Center</a></li>
								<li><a href="#">Tutorials</a></li>
								<li><a href="#">API</a></li>
								<li><a href="#">Contact us</a></li>
							</ol>
						</div>
					</section>
				</main>
				<span class="section-line"></span>
				<footer class="footer paragraph-typo">
					<nav>
						<a href="https://www.linkedin.com/company/radium-rocket/">
							<img src="../assets/icons/linkedin-logo.png" alt="LinkedIn logo">
						</a>
						<a href="https://twitter.com/radiumrocket">
							<img src="../assets/icons/twitter-logo.png" alt="Twitter logo">
						</a>
						<a href="https://www.facebook.com/radiumrocket">
							<img src="../assets/icons/facebook-logo.png" alt="Facebook logo">
						</a>
						<a href="https://www.instagram.com/radium.rocket/">
							<img src="../assets/icons/instagram-logo.png" alt="Instagram logo">
						</a>
						<a href="https://github.com/radiumrocketapps">
							<img src="../assets/icons/github-logo.png" alt="Github logo">
						</a>
					</nav>
					<div class="footer-text">
						<p>Rosario, Argentina</p>
						<p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>