@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
	width: 1440px;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	height: max-content;
	color: #373867;
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
	width: 100%;
	height: 77px;
	background-color: #373867;
}

header img {
	position: absolute;
	width: 77.79px;
	bottom: 0px;
	left: 43px;
}

header h1 {
	position: absolute;
	margin-top: -20px;
	top: 50%;
	left: 150px;
	color: #ffffff;
}

aside {
	position: sticky;
	float: left;
	width: 184px;
	height: 900px;
	margin-right: -184px;
	padding: 22px 13px;
	top: 0;
	background-color: #AACE9B;
}

aside span {
	display: inline-block;
	width: 100%;
	padding: 0.6px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.4px;
}

aside span::after {
	display: block;
	width: 47px;
	height: 3px;
	margin: 9px 0px 22px 0px;
	background-color: #373867;
	border-radius: 4px;
	content: "";
}

aside li {
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

aside li > a::after {
	display: inline-block;
	width: 100%;
	height: 1px;
	margin: 17px 0px 13px 0px;
	background-color: rgba(55,56,103,0.4);
	border-radius: 4px;
	content: "";
}

aside div {
	display: inline-block;
	margin: 19px 0px 17px;
}

aside div > div {
	margin: 0px;
	width: 80%;
	vertical-align: top;
}

aside img {
	vertical-align: middle;
}

main {
	position: relative;
	float: right;
	width: 1255px;
}

section {
	display: inline-block;
	width: 1110px;
	margin: 57px 78px 0px 69px;
	/* border: 1px solid black; */
}

footer {
	position: relative;
	display: inline-block;
	width: 1255px;
	height: 100px;
	padding: 0px 78px 15px 69px;
	left: 184px;
}

footer nav {
	float: left;
	width: 50%;
	margin-top: 30px;
}

footer a {
	margin-right: 6%;
}

footer p {
	float: right;
}

footer p:first-of-type {
	margin: 16px 0px 23.4px;
}

.intro-section div {
	position: relative;
	display: inline-block;
	width: 47%;
	vertical-align: top;
}

.intro-section .subheader-typo {
	margin: 19px 0px 42px;
}

.intro-section a {
	position: absolute;
	margin-top: 3%;
	padding: 14px 30px;
	right: 0px;
	border: 1px solid #373867;
	border-radius: 5px;
}

.intro-section figure {
	display: inline-block;
	width: 50%;
	margin: 1% 0 95px 2.5%;
}

.intro-section img {
	display: inline-block;
	width: 100%;
}

.functionalities-section section {
	display: inline-block;
	width: 523px;
	height: 213px;
	margin: 50px 0 29px;
	vertical-align: top;
}

.functionalities-section figure {
	float: left;
	margin: 7px 23px 0 0;
}

.functionalities-section h3 {
	display: inline-block;
	margin: 31px -30px 17px 0;
}

.functionalities-section section:nth-last-child(1),
.functionalities-section section:nth-last-child(2) {
	margin-bottom: 95px;
}

.functionalities-section section:nth-last-child(1),
.functionalities-section section:nth-last-child(3) {
	float: right;
}

.reasons-section article {
	position: relative;
	display: inline-block;
	width: 440px;
	height: 621px;
	margin-top: 50px;
	padding: 20px;
	background-color: rgba(55,56,103,0.1);
	vertical-align: top;
}

.reasons-section h3 {
	margin: 20px 0;
}

.reasons-section p {
	margin-bottom: 23.4px;
}

.reasons-section a {
	position: absolute;
	padding: 10px 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #373867;
	border-radius: 5px;
}

.reasons-section article:nth-last-child(1),
.reasons-section article:nth-last-child(2) {
	margin-bottom: 95px;
}

.reasons-section article:nth-last-child(1),
.reasons-section article:nth-last-child(3) {
	margin-left: 79.93px;
}

.form-section {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.form-section form {
	margin: 50px 0 95px;
}

.form-section .form-right {
	float: right;
}

.form-section label {
	display: inline-block;
	width: 100%;
}

.form-section input,
.form-section select,
.form-section textarea {
	display: inline-block;
	width: 100%;
	margin: 7.5px 0 12px;
}

.form-section textarea {
	height: 117px;
	margin-bottom: 0px;
}

.form-section div,
.form-section fieldset {
	display: inline-block;
	width: 48%;
}

.form-section fieldset label {
	width: fit-content;
	margin-right: 20%;
}

.form-section input[type=radio],
.form-section input[type=checkbox],
.form-section label[for=copy],
.form-section label[for=captcha] {
	width: fit-content;
}

.form-section .div-checkbox {
	width: 15%;
	margin-top: 40px;
}

.form-section button[type=submit] {
	margin-right: 41.25px;
	padding: 14px 31px;
	background: #AACE9B;
	border: none;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.form-section button[type=reset] {
	padding: 13px 31px;
	background: #FFFFFF;
	border: 1px solid #373867;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.form-section .buttons {
	display: block;
	margin-top: 40px;
}

.story-section p:nth-of-type(1) {
	margin-top: 50px;
}

.story-section p:nth-of-type(2) {
	margin: 23.4px 0 95px;
}

.links-section div {
	display: inline-block;
	margin: 0px 10% 95px;
}

.links-section ol {
	padding-left: 20px;
	list-style-type: decimal;
}

/* Line after each section */

main > section::after {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #AFAFC2;
	border-radius: 4px;
	content: "";
}

main > section:last-child::after {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #AACE9B;
	border-radius: 4px;
	content: "";
}

/* Line after each section title */

h2.title-typo {
	width: fit-content;
}

h2.title-typo::after {
	display: block;
	width: calc(100% + 30px);
	height: 3px;
	margin-top: 9px;
	background-color: #AACE9B;
	border-radius: 4px;
	content: "";
}

/* Typography */

.header-typo {
	font-size: 40px;
	font-weight: 700;
	line-height: 46.9px;
}

.subheader-typo {
	font-size: 20px;
	font-weight: 400;
	line-height: 23.4px;
}

.intro-paragraph {
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}

.title-typo {
	font-size: 30px;
	font-weight: 700;
	line-height: 35.2px;
}

.button-typo {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

/* Form styles */

form input,
form select,
form textarea {
	padding: 10px 12px;
	border: 1px solid #373867;
	border-radius: 4px;
	color: rgba(55, 56, 103, 0.5);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

