main {
	display: flex;
	flex-direction: column;
}

section {
	flex-grow: 1;
}

.intro-section {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.intro-section div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.intro-section .paragraph-typo {
	margin: 1.5% 0 3.35%;
}

.intro-section figure{
	margin-bottom: 3.5%;
}

.intro-section figure img {
	max-width: 495px;
	width: 100%;
	border-radius: 10px;
}

.section-line {
	width: 100%;
	height: 3px;
	margin: 8.8% 0 4.5%;
	background-color: #AFAFC2;
	border-radius: 4px;
	content: "";
}

.main-footer-container > .section-line {
	background-color: #AACE9B;
}

.functionalities-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

h2.section-typo {
	width: fit-content;
	max-width: 94.2%;
	margin-bottom: 5%;
}

h2.section-typo::after {
	display: block;
	width: calc(100% + 30px);
	height: 3px;
	margin-top: 15px;
	background-color: #AACE9B;
	border-radius: 4px;
	content: "";
}

.functionalities-section section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 5%;
}

.functionalities-section h3 {
	margin: 4% 0 2%;
}

.functionalities-section figure {
	display: flex;
	order: -1;
}

.functionalities-section figure img{
	width: 103px;
}

.reasons-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;
}

.long-title h2.section-typo::after {
	width: 100%;
}

.reasons-section article {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
	max-width: 350px;
	background-color: rgba(55,56,103,0.1);
}

.reasons-section img {
	width: 100%;
}

.reasons-section .button {
	margin-top: auto;
}

.form-section form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 4%;
}

.form-section div {
	width: 100%;
	margin-bottom: 2%;
}

.form-section form > div {
	display: flex;
	flex-direction: column;
}

form input,
form select,
form textarea {
	padding: 10px 12px;
	border: 1px solid #373867;
	border-radius: 4px;
	color: rgba(55, 56, 103, 0.5);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.form-section .radio-buttons {
	display: flex;
	width: 100%;
}

.form-section .radio-buttons div {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.form-section .textarea {
	width: 100%;
}

.form-section .checkboxes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5%;
	width: 100%;
}

.form-section .div-checkbox {
	display: flex;
	flex-direction: row;
	width: fit-content;
}

.form-section input[type=radio],
.form-section input[type=checkbox] {
	margin-top: 0;
}

.form-section .buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5%;
	width: 100%;
}

.form-section button[type=submit],
.form-section button[type=reset] {
	width: fit-content;
	padding: 14px 30px;
	border: 1px solid #373867;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #373867;
	background-color: transparent;
}

.links-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links-section div {
		width: 30%;
		margin-top: 5%;
}

.links-section ol {
	padding-left: 20px;
	list-style: decimal;
}

@media only screen and (min-width: 480px) {

	.functionalities-section section {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		align-content: flex-start;
		text-align: left;
		height: 265px;
	}

	.functionalities-section h3 {
		width: 50%;
	}

	.functionalities-section p {
		width: 54%;
	}

	.functionalities-section figure img{
		width: 198px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.form-section form{
		flex-direction: row;
	}

	.form-section div,
	.form-section fieldset {
		width: 48%;
	}
}

@media only screen and (min-width: 768px) {

	.reasons-section article {
		max-width: 440px;
		height: 611px;
	}

	.links-section {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media only screen and (min-width: 1024px) {

	.intro-section {
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	
	.intro-section div {
		max-width: 520px;
		width: 50%;
		margin-right: 5%;
	}
	
	.intro-section figure{
		width: 50%;
		max-width: 520px;
		margin-bottom: 0;
	}

	.intro-section figure img{
		max-width: 520px;
	}

	.intro-section .button {
		align-self: flex-end;
	}

	.functionalities-section {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.functionalities-section section {
		height: 250px;
		max-width: 523px;
	}

	.functionalities-section p,
	.functionalities-section h3 {
		flex-grow: 1;
		width: calc(100% - 208px);
	}

	.long-title h2.section-typo::after {
		width: calc(100% + 30px);
	}

	.reasons-section {
		justify-content: flex-start;
	}

	.reasons-section article {
		margin-right: 2%;
	}
}